.footer{
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    background: rgba(253, 255, 199, 0.75);
    border-radius: 11px;
}

p{
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .footer {
        margin: 0 auto;
        margin-top: 2rem;
        width: 100%;
        // text-align: left;
        // max-width: 98%;
    }

}