// .head {
//     z-index: 20;
//     height: 90px;
// }
// header{
//     margin-top: 1rem;
//     display: inline-flex;
// }

.head .wrap {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 0rem;
    background: rgba(253, 255, 199, 0.75);
    border-radius: 11px;
}

.leftHeader{
    margin: 1rem;
    display: inline-flex;
    align-items: center;
}

.rightHeader{
    margin: 2rem;
}
h1{
    margin-left: 2rem;
}

.wrap {
    margin: 0 auto;
    width: 1200px;
    // text-align: left;
    max-width: 98%;
}

img {
    height: 80px;
    width: 80px;
}

@media screen and (max-width: 1200px) {
    header{
        width: 100%;
    }
    body{
        background-color: red;
    }
    .head .wrap {
        margin: 0;
        
        // text-align: left;
        // max-width: 98%;
    }
    img {
        height: 90px;
        width: 90px;
    }
    // h1{
    //     color: red;
    //     font-size: 0.7rem;
    // }
    button{
        display: none;
    }
}
