<header class="head">
    <div class="wrap"> 
        <div class="leftHeader">
            <a href="https://www.cookomix.com/" title="Cookomix" class="logo">
                <img src="assets/images/logo.png" alt="Le gras c'est la vie" fetchpriority="high">
            </a>
            <h1>Le gras c'est la vie</h1>
        </div>
        <button mat-raised-button>News</button>
        <button mat-raised-button>J'ai de la chance</button>
        <div class="rightHeader">
            <button mat-stroked-button>Profil</button>
            <button mat-stroked-button>Publier une recette</button>
        </div>
    </div>
    
</header>
