.recipList{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2rem;
    background: rgba(253, 255, 199, 0.75);
    border-radius: 11px;
}


@media screen and (max-width: 1200px) {
    .recipList {
        margin: 0 auto;
        margin-top: 2rem;
        width: 100%;
        // text-align: left;
        // max-width: 98%;
    }

}